.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --color-schedule-game-date: #000;
  --color-schedule-date: #000;
  --color-schedule-box-border: #ebebeb;
  --color-schedule-box: #fff;
  --color-schedule-game-info: #404040;
  --color-schedule-team: #181818;
  --color-schedule-record: #a0a0a0;
  --color-schedule-score-info: #a8a8a8;
  --color-schedule-score-info-live: #000;
  --color-schedule-status: #7d7d7d;
  --color-schedule-history-box: #fdf8f0;
  --color-schedule-history-box-border: #eae4db;
  --color-schedule-history-player: #a0a0a0;
  --color-schedule-history-time: #8c8c8c;
}
